table {
    padding-top: 30px;
    margin-left: 20px;
    width: 95%;
}
th {
    width: 25%;
    text-align: center;
    background-color: #d9dbe0;
}

.contenedor-paginacion {
    overflow: hidden;
    height: 70px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

tbody tr:nth-child(odd) {
    background-color: #b4b4b4;
}

tbody tr:nth-child(even) {
    background-color: #d9dbe0;
}

.irHistorias {
    background-color: #3b7785;
}

.titulo-irHistoria {
    color: white;
}
